name: x64-linux-gcc

on:
  push:
    branches: [ main, 'v1.*' ]
  pull_request:
    branches: [ main ]

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  build-and-test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PRESET: [gcc-linux-debug, gcc-linux-release]
        WORK_ITEM: [CORO, FUNCORO]
    steps:
    - uses: actions/checkout@v4
      with:
        repository: tzcnt/tmc-examples
        ref: main
    - name: branch-examples
      continue-on-error: true
      run: git fetch --tags && git checkout ${{env.BRANCH_NAME}}
    - name: submodule-clone
      run: >
        cd submodules
        && git clone https://github.com/tzcnt/TooManyCooks.git
    # If a branch with the same name exists in the dependency repos, use that. Otherwise, use main.
    - name: submodule-branch-TMC
      # continue-on-error: true # this should never fail if triggered from TMC workflow
      run: cd submodules/TooManyCooks && git fetch && git checkout ${{env.BRANCH_NAME}}
    - name: configure
      run: cmake -G "Unix Makefiles" -DTMC_AS_SUBMODULE=ON -DCMD_COMPILE_FLAGS='-Werror;-DTMC_WORK_ITEM=${{matrix.WORK_ITEM}}' --preset ${{matrix.PRESET}} .
    - name: build
      run: cmake --build ./build/${{matrix.PRESET}} --parallel $(nproc) --target all
    - name: run tests
      run: ./build/${{matrix.PRESET}}/tests/tests
